<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="../../public/rosquilla.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Simpsons</title>
    <link rel='stylesheet' href='../../assets/css/style.css'>
    <link rel='stylesheet' href='../../assets/css/footer.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>
</head>
<body>
    <nav>
        <a href="../../index.html"><img class="logo-nav" src="../../assets/img/logo.jpg" alt=""></a>

        <section>
            <div>
                <a href="../../component/carrusel.html"><button id="btn-familia">La familia</button></a>
                <a href="../../component/frases.html"><button id="frases">Frases</button></a>
                <a href="../../component/juegos/index.html"><button id="juegos">Juegos</button></a>
                <a href="../../component/cortos.html"><button id="cortos">Cortos originales</button></a>
                <button class="btn-burger-cerrar burger">Cerrar</button>
            </div>
            <button class="btn-burger-abrir burger"><i class="fa fa-bars" aria-hidden="true"></i></button>

           
            <a href="https://www.linkedin.com/in/emiliano-rotta-fernandez/" target="_blank">
                <img src="../../assets/img/avatar.jpeg" alt="" class="avatar">
            </a>
        </section>
    </nav>

    <div class="javascript">
        <img src="../../assets/img/html-css-js-logos.png" alt="">
        <p>
            Si bien me gusta mucho trabajar con React, me siento muy cómodo y lo manejo bien. La decisión de usar HTML, CSS puro y Javascript vanilla como se suele decir, fue para poder practicar más; no solo Javascript sino también fomentar la imaginación para lograr hacer cosas similares que haría con React.
        </p>
    </div>

    <footer>
        <a href="copyright.html" ><p>© 2023 Copyright Emiliano Rotta</p></a>
        <a href="javascript.html" ><p>Solo con Javascript, ¿Por qué?</p></a>
        <a href="./proximo.html" ><p>¿Cual es el Próximo?</p></a>
        <a href="https://wa.me/543513729744/?text=Me%20gustó%20tu%20página%20de%20los%20Simpsons" target="_blank">Contacto</a>
        <a href="https://www.linkedin.com/in/emiliano-rotta-fernandez/" target="_blank">Linkedin</a>
    </footer>
    <script type="module" src="../nav.js"></script>

</body>
</html>