<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/svg+xml" href="../../../public/rosquilla.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../assets/css/style.css">
  <link rel="stylesheet" href="../../../assets/css/escopeta.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>
  <title>Los Simpsons</title>
</head>
<body>
  <nav>
    <a href="../../../index.html"><img class="logo-nav" src="../../../assets/img/logo.jpg" alt=""></a>
    <section>
      <div>
        <a href="../../carrusel.html"><button id="btn-familia">Familia</button></a>
        <a href="../../frases.html"><button id="frases">Frases</button></a>
        <a href="../index.html"><button id="juegos">Juegos</button></a>
        <a href="../../cortos.html"><button id="cortos">Primeros cortos</button></a>
        <button class="btn-burger-cerrar burger">Cerrar</button>
      </div>
      <button class="btn-burger-abrir burger"><i class="fa fa-bars" aria-hidden="true"></i></button>

       
        <a href="https://www.linkedin.com/in/emiliano-rotta-fernandez/" target="_blank">
            <img src="../../../assets/img/avatar.jpeg" alt="" class="avatar">
        </a>
    </section>

  </nav>
  <p id="lives">Vidas: <i>5</i></p>
  <p id="times"></p>
  <p id="puntos"></p>
  <p id="puntos-total"></p>

  <div class="nave" id="nave"></div>
  <audio src="../../../assets/audios/juegoEscopeta/laser.mp3" id="laser"></audio>
  <audio src="../../../assets/audios/juegoEscopeta/explosion.mp3" id="explosion"></audio>
  <audio src="../../../assets/audios/juegoEscopeta/cierra los ojos Marge.mp3" id="cierra-ojos"></audio>
  <audio src="../../../assets/audios/juegoEscopeta/papa a lasmujeres no les agradan que les disparen.mp3" id="papa"></audio>
  <audio src="../../../assets/audios/juegoEscopeta/y ahora estas lista para una velada en la ciudad.mp3" id="velada-ciudad"></audio>

  <footer>
    <a href="../../footer/copyright.html" ><p>© 2023 Copyright Emiliano Rotta</p></a>
    <a href="../../footer/javascript.html" ><p>Solo con Javascript, ¿Por qué?</p></a>
    <a href="../../footer/proximo.html" ><p>¿Cual es el Próximo?</p></a>
    <a href="https://wa.me/543513729744/?text=Me%20gustó%20tu%20página%20de%20los%20Simpsons" target="_blank">Contacto</a>
    <a href="https://www.linkedin.com/in/emiliano-rotta-fernandez/" target="_blank">Linkedin</a>
  </footer>
  <script type="module" src="../../nav.js"></script>
  <script src="JuegoM.js"></script>
</body>
</html>
