<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/rosquilla.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Simpsons</title>
    <link rel='stylesheet' href="../assets/css/carrusel.css">
    <link rel='stylesheet' href='../assets/css/style.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>
</head>
<body>

    <nav>
        <a href="../index.html"><img class="logo-nav" src="../assets/img/logo.jpg" alt=""></a>
        <section>
            <div>
                <a href="carrusel.html"><button id="btn-familia">Familia</button></a>
                <a href="frases.html"><button id="frases">Frases</button></a>
                <a href="./juegos/index.html"><button id="juegos">Juegos</button></a>
                <a href="cortos.html"><button id="cortos">Primeros cortos</button></a>
                <button class="btn-burger-cerrar burger">Cerrar</button>
            </div>
            <button class="btn-burger-abrir burger"><i class="fa fa-bars" aria-hidden="true"></i></button>


            <a href="https://www.linkedin.com/in/emiliano-rotta-fernandez/" target="_blank">
                <img src="../assets/img/avatar.jpeg" alt="" class="avatar">
            </a>
        </section>

    </nav>
    <audio src="../assets/audios/home/Los Simpson - Intro.mp3" id="intro" autoplay></audio>
    <button id="sonido" class="sonido">♫</i> </button>

    <div class="carrusel">
        <div class="carrusel-items">
          <div class="carrusel-item">
            <img src="../assets/img/homero/clasica.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Si algo es difícil y duro de hacer, entonces no merece la pena hacerlo"
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/homero/gordo.png" alt="">
        <div class="frases-contenedor">
                <p id="homero-computer">
                   "8.58 primera vez que llego temprano al trabajo. Salvo esos dias donde se adelantaba ese maldito reloj"
                </p>
                <p>
                   "Tanta computacion me dio sed, creo que aqui hay cerveza Tab"
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/homero/tiempo.png" alt="">
        <div class="frases-contenedor">
                <p>
                    -Homero hay un hombre que puede ayudarte.
                    -¿Batman?
                    -No, es un cientifico.
                    -Batman es un cientifico
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/homero/universidad.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Cuando detengas el auto, voy a abrazarte, a besarte y jamas podré dejarte ir.""
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/150px-Honest_Abe.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Mi Homero no es comunista, podrá ser mentiroso, puerco, idiota, comunista, pero nunca una estrella de porno"
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/200px-Abraham_Simpson_I.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Hay que acariciarlo duro para que lo sienta"
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/200px-Connie_Appleseed.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "-Quema esa planta ahora mismo y termina con este absurdo
                    -Quisiera cambiar el mundo Lisa, pero soy solo un hombre"
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/200px-Hugo_Simpson.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "He practicado, hice una rata-paloma"
                </p>
            </div>  
        </div>


          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/200px-Pie_Man.png" alt="">
        <div class="frases-contenedor">
                <p>
                    “Donde la injusticia muestre su feo rostro yo estaré ahí porque soy el Hombre Pie”
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/200px-Tapped_Out_Little_Miss_Springfield.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Me llamo lisa Simpson y quiero ser pequeña señorita Springfield para ser de esta una ciudad mejor."

                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/200px-TemperanceBarrow.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Homero, me dijiste que no ibas a usar al muñeco para fingir tu muerte."
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/200px-The_Rambler.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Simpsons, ¿No puedes pasar 5 minutos sin humillarte solo?"
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/220px-Lisa_Simpson.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Si alguien me necesita, estaré en mi abitacion".
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/250px-Abraham_Simpson.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Tu y tus historias papa, Bart me rompio mis dientes, la enfermera me roba dinero, mi verruga del cuello esta mas grande"
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/250px-Clobber_Girl.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Papá, sé que esto va contra cada una de mis fibras feministas, pero... ¡¿NO PUEDES PONER QUIETA A TU MUJER?!"
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/250px-Maggie_Simpson.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "El universo es muy confuso realmente" 
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/250px-Marge_Simpson_ivadwr.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Pero hija, ¿para que quieres un pony? Ya tienes un limonero, y ni siquiera juegas con él"
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/250px-Selma_Bouvier.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "La lápida de tu marido, la tenemos desde el día de tu boda."
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/80px-Tapped_Out_Mr._Plow.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Me llama usted, entonces voy, Don Barredora es quien yo soy." 
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/61px-Mooch_Bart_wphfmj.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Caray Lisa, al verte así, me dan ganas de casarme por 4ta vez"
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/90px-Young_Marge.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "El primer paso para la liberación es rechazar esta impocisión del hombre"
                </p>
            </div>  
        </div>


          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/Mona_Simpson.png" alt="">
        <div class="frases-contenedor">
                <p>
                   "homero te pusiste muy guapo" 
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/Patty_Bouvier.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "-¿De que te ries?
                    -Recordaba cuando Homero metio la nariz en el tostador."
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/Ravencrow_Neversmiles.png" alt="">
        <div class="frases-contenedor">
                <p>
                   "Yo no quiero pareja, no quiero usar perfume, ni vestido de coctel. ¿Soy la única que quiere jugar rayuela, hornear galletas y ver programas culturales"  
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/Snowball_II.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "no mi bola de nieve, tu no."
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/Stretch_Dude.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Tengo tu naris.
                    Y yo tu billetera."
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/Tapped_Out_Queen_Helvetica_Lisa.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "¿Que no somos muy pequeñas para usar maquillaje? ¿como que bajar 2 kilos?"
                </p>
            </div>  
        </div>

          <div class="carrusel-item">
            <img src="../assets/img/otros integrantes de la flia/Tapped_Out_Unlock_Bart.png" alt="">
        <div class="frases-contenedor">
                <p>
                    "Yo no fui."
                </p>
            </div>  
        </div>

        </div>
      </div>      
    
      <footer>
        <a href="footer/copyright.html" ><p>© 2023 Copyright Emiliano Rotta</p></a>
        <a href="footer/javascript.html" ><p>Solo con Javascript, ¿Por qué?</p></a>
        <a href="footer/proximo.html" ><p>¿Cual es el Próximo?</p></a>
        <a href="https://wa.me/543513729744/?text=Me%20gustó%20tu%20página%20de%20los%20Simpsons" target="_blank">Contacto</a>
        <a href="https://www.linkedin.com/in/emiliano-rotta-fernandez/" target="_blank">Linkedin</a>
    </footer>
    <script type="module" src="./nav.js"></script>
    <script src="carrusel.js"></script>
    
</body>
</html>