<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="../public/rosquilla.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Los Simpsons</title>
    <link rel='stylesheet' href="../assets/css/cortos.css">
    <link rel='stylesheet' href='../assets/css/style.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>
</head>
<body>

    <nav>
        <a href="../index.html"><img class="logo-nav" src="../assets/img/logo.jpg" alt=""></a>
        <section>
            <div>
                <a href="carrusel.html"><button id="btn-familia">Familia</button></a>
                <a href="frases.html"><button id="frases">Frases</button></a>
                <a href="./juegos/index.html"><button id="juegos">Juegos</button></a>
                <a href="cortos.html"><button id="cortos">Primeros cortos</button></a>
                <button class="btn-burger-cerrar burger">Cerrar</button>
            </div>
            <button class="btn-burger-abrir burger"><i class="fa fa-bars" aria-hidden="true"></i></button>


            <a href="https://www.linkedin.com/in/emiliano-rotta-fernandez/" target="_blank">
                <img src="../assets/img/avatar.jpeg" alt="" class="avatar">
            </a>
        </section>

    </nav>
    <h1>Temporada 1: 7 cortos</h1>
    <div class="temporadas">
        <div class="div-video"> 
            <section class="contenedor-videos">
                
                <video id="linkVideoT1" src="" type="video/mp4" controls loop>
                    
                    Su navegador no soporta la etiqueta de video.
                </video>
                
                <div class="datos" id="datosT1">

                </div>

            </section>
            <div class="contenedor-btn">
                <button class="prev-next" id="btn-v-previousT1">&#8249;</button>
                <button class="prev-next" id="numero-pagina-uno" onclick="pauseUno()"></button>
                <button class="prev-next" id="btn-v-nextT1">&#8250;</button>
            </div>

        </div>
    </div>
    <h1>Temporada 2: 22 cortos</h1>
    <div class="temporadas">
        <div class="div-video"> 
            <section class="contenedor-videos">
                
                <video src="" type="video/mp4" controls loop id="linkVideoT2">
                    Su navegador no soporta la etiqueta de video.
                </video>
                
                <div class="datos" id="datosT2"></div>
                
            </section>
            <div class="contenedor-btn">
                <button class="prev-next" id="btn-v-previousT2">&#8249;</button>
                <button class="prev-next" id="numero-pagina-dos" onclick="pauseDos()"></button>
                <button class="prev-next" id="btn-v-nextT2">&#8250;</button>
            </div>
        </div>
    </div>
    <h1>Temporada 3: 19 cortos</h1>
    <div class="temporadas">
        <div class="div-video"> 
            <section class="contenedor-videos">
                
                <video  id="linkVideoT3" src="" type="video/mp4" controls loop>
                    
                    Su navegador no soporta la etiqueta de video.
                </video>
                
                <div class="datos" id="datosT3"></div>
                
            </section>
            <div class="contenedor-btn">
                <button class="prev-next" id="btn-v-previousT3">&#8249;</button>
                <button class="prev-next" id="numero-pagina-tres" onclick="pauseTres()"></button>
                <button class="prev-next" id="btn-v-nextT3">&#8250;</button>
            </div>
        </div>
    </div>
    <footer>
        <a href="footer/copyright.html" ><p>© 2023 Copyright Emiliano Rotta</p></a>
        <a href="footer/javascript.html" ><p>Está hecho solo con Javascript, ¿Por qué?</p></a>
        <a href="footer/proximo.html" ><p>¿Cual es el Próximo?</p></a>
        <a href="https://wa.me/543513729744/?text=Me%20gustó%20tu%20página%20de%20los%20Simpsons" target="_blank">Contacto</a>
        <a href="https://www.linkedin.com/in/emiliano-rotta-fernandez/" target="_blank">Linkedin</a>
    </footer>
    <script type="module" src="./nav.js"></script>
    <script src="cortos.js" ></script>
</html>